body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #23282c;
    text-align: left;
    background-color: #94b1cf;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.app, app-dashboard, app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@media (min-width: 992px)
{
    .header-fixed .app-header {
        position: fixed;
        z-index: 1020;
        width: 100%;
    }
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.app-header .navbar-toggler {
    min-width: 50px;
    padding: 0.25rem 0;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
@media (min-width: 992px)
{
    .d-lg-none {
        display: none !important;
    }
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.09375rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

button {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}


.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}